.parents__container {
  width: 100%;
  background-color: #d9d9d9;
  padding: 0 0 271px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .parents__container {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 640px) {
  .parents__container {
    padding-bottom: 30px;
  }
}